<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Index</title>
</head>
<body>
    <table border="2" class="table table-dark">
        <thead>
        <tr>
            <th th:width="100">ID</th>
            <th th:width="100">MODEL</th>
            <th th:width="100">SERIAL_NUMBER</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getId()}"/>
            <td th:text="${car.getModel()}"/>
            <td th:text="${car.getSerialNumber()}"/>
        </tr>
        </tbody>
    </table>

</body>
</html>

